.main{

    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
   
} 
/* .card{
    width: 25vw;
    height: 50%;
    border-radius: 12px ;
    background: #FDFDFD;
    box-shadow: 0px 4px 28px -2px #00000014;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* flex-direction: column; 
} */
/* .innerdiv{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
   
} */
/* a{
    font-size: 12px;
} */
a:hover{
    cursor: pointer;
}
/* Add this CSS for responsive font size */
.fs-responsive {
    font-size: 2rem; /* Default font size */
  }
  
  @media (max-width: 576px) {
    .fs-responsive {
      font-size: 1.5rem; /* Smaller font size on small screens */
    }
  }
  
  @media (max-width: 375px) {
    .fs-responsive {
      font-size: 1.25rem; /* Even smaller font size on very small screens */
    }
  }
  