<div class="main d-flex justify-content-center align-items-center min-vh-100">
  <div class="card p-4" style="max-width: 100%; width: 100%; max-width: 400px;">
    <form [formGroup]="form" class="row needs-validation">
      <!-- Responsive Header (Welcome text) -->
      <h2 class="d-flex justify-content-center mb-3 fs-responsive">Welcome</h2>
      <span class="d-flex justify-content-center mb-3 fs-responsive">Login into your account</span>

      <!-- Email input -->
      <div class="mb-3">
        <label for="email-input" class="form-label">Email address</label>
        <input type="email" class="form-control" id="email-input" placeholder="name@example.com" required formControlName="email">
        <div class="invalid-feedback">
          Please enter email.
        </div>
      </div>

      <!-- Password input -->
      <div class="mb-3">
        <label for="password-input" class="form-label">Password</label>
        <input type="password" class="form-control" id="password-input" required formControlName="password">
        <div class="invalid-feedback">
          Please enter password.
        </div>
      </div>

      <!-- Login button -->
      <div class="d-flex justify-content-center mb-3">
        <button class="btn btn-primary w-100" type="submit" (click)="navigate()">Login</button>
      </div>

      <!-- Register link -->
      <a class="d-flex justify-content-center mt-2" href="register">Don't have an account?</a>
    </form>
  </div>
</div>
