.main{
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
}

a{
    font-size: 12px;
}
a:hover{
    cursor: pointer;
}
.image img {
    max-width: 100%;
    height: auto;
  }
/* Add this CSS for responsive font size */
.fs-responsive {
    font-size: 2rem; /* Default font size */
  }
  
  @media (max-width: 576px) {
    .fs-responsive {
      font-size: 1.5rem; /* Smaller font size on small screens */
    }
  }
  
  @media (max-width: 375px) {
    .fs-responsive {
      font-size: 1.25rem; /* Even smaller font size on very small screens */
    }
  }
  