<!-- <nav class="navbar navbar-expand-lg ">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">PetAdoption</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="" routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="explore" routerLinkActive="active-link">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active-link">About</a>
        </li>
        
    
      </ul>
      <button class="signin" >Sign In</button>
    </div>
  </div>
</nav> -->


<!-- <div class="image">
  <div class="navHeader">
    <div>
      <ul class="nav-items">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="" routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact:true}">Pet Adoption Logo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="" routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="explore" routerLinkActive="active-link">Explore</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active-link">About</a>
        </li>
        
    
      </ul>
    </div>
    <div>
      <button>Join the Community</button>
    </div>
  </div>
  <div class="navbody">
      <h1>One More Friend <br> Thousands More Fun!</h1>
  </div>
  </div> -->

  <div class="navHeader">
   <div class="container">
    <div class="log">
      <img src="./../../../assets/logo.png" alt="">
    </div>
    <div class="navitems">
      <!-- <ul class="navitems"> -->
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home" routerLinkActive="active-link"
          [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="category" routerLinkActive="active-link">Category</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="active-link">About</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="contact" routerLinkActive="active-link">Contact</a>
        </li> -->
      <!-- </ul> -->
    </div>
   </div>
   <div class="navbutton">
    <div class="notification-icon" data-bs-toggle="modal"data-bs-target="#generalmodal"
    (click)="openModal()">
        <i class="bi bi-bell"></i>
    <span class="badge">{{requestsCount}}</span>
    </div>
    <button (click)="logout()">Log out</button>
   </div>
  </div>
 

<div class="modal fade" id="generalmodal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" #modalTitle>Adoption Requests</h5>
                <button type="button" class="btn-close"  data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body ">
                <ng-container #container></ng-container>
                <!-- <button type="submit"  data-bs-dismiss="modal">Close</button> -->

            </div>
        </div>
    </div>
 </div>

