<div class="main">
  <div class="text">
    <div class="title">
      <h1>One More Friend</h1>
      <h1>Thousands More Fun!</h1>
      <span>Having a pet means you have more joy, a new friend, a happy person who will always be with you to have fun. We have 200+ < different pets that can meet your needs!</span>
    </div>
    <div class="buttons">
        <button class="introbutton">View Intro <i class="bi bi-play-circle"></i></button>
        <button class="explorebutton" (click)="goToExplore()">Explore Now</button>
    </div>
  </div>
  <div class="image">
    
  </div>
</div>
<app-list-view [title]="title" [isshow]="true" [petData]="petData"> </app-list-view>
